<!DOCTYPE html>
<html lang="en">
    {{>main_head}}
	<body data-spy="scroll" ng-app="musico">

		{{{body}}}

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<p>Copyright &copy; 2016 Daily Dose</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- script references -->
	</body>
</html>
