<section>
<div class="container-full">
    <div class="overlay"></div>
    <div class="content">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                        Hey!
                </div>
            </div>
        </div>
    </div>
</div>
</section>
